<%- include header %>

<body class="container">

  <%- messages('message', locals) %>

  <h1><%= title %></h1>
  <ul class="list-group"> 
    <% for(var article of articles) { %>
      <li class="list-group-item">
        <a href="/articles/<%= article.id %>" ><%= article.title %></a>
      </li>
    <% } %>
  </ul>
  
</body>

<%- include footer %>